In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('total_sleep.csv')

In [3]:
df

          date  Total Sleep Duration
0   2022-12-04                 30120
1   2022-12-05                 28260
2   2022-12-06                 23250
3   2022-12-07                 34530
4   2022-12-08                 28620
5   2022-12-09                 26610
6   2022-12-10                 24810
7   2022-12-11                 27720
8   2022-12-12                 31740
9   2022-12-13                 28890
10  2022-12-14                 29970
11  2022-12-15                 25350
12  2022-12-16                 21600
13  2022-12-17                 35640
14  2022-12-18                 28530
15  2022-12-19                 29550
16  2022-12-20                 27810
17  2022-12-21                 22440
18  2022-12-23                 29190
19  2022-12-24                 23520
20  2022-12-26                 27000
21  2022-12-27                 27960
22  2022-12-28                 27330
23  2022-12-29                 27930
24  2022-12-30                 28620
25  2022-12-31                 30930
26  2023-01-01                 27090
27  2023-01-02                 29640
28  2023-01-03                 26700
29  2023-01-04                 27840
30  2023-01-05                 29580
31  2023-01-06                 26820
32  2023-01-07                 26310
33  2023-01-08                 25350
34  2023-01-09                 29430
35  2023-01-10                 29100
36  2023-01-11                 25380
37  2023-01-12                 26730
38  2023-01-13                 23790
39  2023-01-14                 27960
40  2023-01-15                 28710
41  2023-01-16                 29430
42  2023-01-17                 22410
43  2023-01-18                 31320
44  2023-01-19                 24990
45  2023-01-20                 24960
46  2023-01-23                 32430
47  2023-01-24                 23130
48  2023-01-26                 27930
49  2023-01-27                 29070
50  2023-01-28                 27510
51  2023-01-29                 27750
52  2023-01-30                 26790
53  2023-01-31                 27000
54  2023-02-01                 25650
55  2023-02-02                 27570
56  2023-02-03                 28350
57  2023-02-04                 24840